@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

@layer base {
    body, h1, p, button {
      @apply font-sans;
    }
  }

  @keyframes zoom {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes left {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes right {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  .animated {
    animation-duration: 1000ms;
    animation-name: zoom;
  }
  .animated-left {
    animation-duration: 1000ms;
    animation-name: left;
  }
  .animated-right {
    animation-duration: 1000ms;
    animation-name: right;
  }
  .spinned {
    animation-duration: 500ms;
    animation-name: spin;
    animation-fill-mode: forwards;
  }


